@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-not-found{
  /* background-image: url('../public/not-found-bg.svg'); */
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.overflow-hidden{
  overflow: hidden;
}
.button{
  @apply bg-orange text-white rounded-3xl cursor-pointer
}
.nav{
  background-image: url('../public/hero-image.svg');
  background-size: cover;
  background-position: center;
  
}
*{
  font-family: var(--font-montserrat);
}
.food-bg{
  background-image: url('../public/bottom-bg.svg');
  background-size: cover;
  background-position: center;
  /* backdrop-filter: blur(70px); */
  
}
.width-config{
  @apply  md:mx-7
}
.image-overlay{

  background-color: rgb(254, 157, 26, 0.8);
}
.footer-links{
  @apply underline text-center text-[13px]
}
.gradient{
  background: linear-gradient(90deg, rgba(33, 35, 42, 0.68) 0%, rgba(33, 35, 42, 0) 100%);
  background-position: center;
}
.section{
  @apply w-[95%] mx-auto my-[3rem]
}
.get-started{
  @apply w-[8rem] px-4 py-3
}
.img{
  @apply max-w-[100%] w-full
}
.black{
  @apply text-black
}
.register-hover{
 @apply border border-transparent transition-all hover:font-medium  focus:outline-none duration-300 delay-100 ease-in-out   hover:bg-transparent hover:border hover:border-[#FE9D1A] hover:text-[#FE9D1A]
}
.sign-in-hover{
 @apply  transition-all  focus:outline-none duration-300 delay-100 ease-in-out   hover:bg-[#FE9D1A] hover:text-white
}