@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-not-found{
  background-image: url('../public/not-found-bg.svg');
}
.button{
  @apply bg-orange text-white rounded-3xl cursor-pointer
}
.nav{
  background-image: url('../public/hero-image.svg');
  background-size: cover;
}
.gradient{
  background: linear-gradient(90deg, rgba(33, 35, 42, 0.68) 0%, rgba(33, 35, 42, 0) 100%);
}
